<!DOCTYPE html>
<html>
  <head>
    <% if @converter.root.options[:encoding] %>
    <meta http-equiv="Content-type" content="text/html;charset=<%= @converter.root.options[:encoding] %>">
    <% end %>
<%
extend ::Kramdown::Utils::Html
title = ''
h = @converter.root.children.find {|c| c.type == :header}
if h
  collector = lambda {|c| c.children.collect {|cc| cc.type == :text ? escape_html(cc.value, :text) : collector.call(cc)}.join('')}
  title = collector.call(h)
end
%>
    <title><%= title %></title>
    <style>
      table
      {
          /*    margin: 0.5em 0 0 0.5em;*/
          margin: 0 0 0 0;
          border-collapse: collapse;
          width: max-content; /* https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/width */
      }

      th, td
      {
          padding: 0.25em 0.5em 0.25em 0.5em;
          border: 1px solid tan;
      }

      td p {
          margin: 0;
          padding: 0;
      }

      code {
          /*    background-color: #EEEEEE;*/
          font-weight: bold;
          /*font-size: 135%*/
      }

      .variable {
          background-color: #EEEEEE;
      }

    </style>
    <meta name="generator" content="kramdown <%= ::Kramdown::VERSION %>" />
  </head>
  <body>
  <%= @body %>
  </body>
</html>
